body {
    background-color: green;
    background-image: url("https://i.ibb.co/r2DKK7Z/png-transparent-islamic-background-with-golden-moon-and-mosque.png"  );
    background-size: cover;
    color: #141413;
}




